@model MVCDemoApp_WGS.Models.Employee
@{
    ViewBag.Title = "EmployeeForm";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<h2>EmployeeForm</h2>

@using (Html.BeginForm("DisplayEmployee","Home", FormMethod.Post))
            {
                    @Html.ValidationSummary()
                <table class="table table-striped">
                    <tr>
                        <td>@Html.LabelFor(m=>m.EmpId)
                        </td>
                        <td>
                            @Html.TextBoxFor(m=> m.EmpId, new { @class="form-control"})
                            <span class="text-danger">@Html.ValidationMessageFor(m=>m.EmpId)</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(m=>m.EmpName)
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.EmpName, new { @class = "form-control" })
                            <span class="text-danger">@Html.ValidationMessageFor(m => m.EmpName)</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(m=>m.Salary)
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.Salary, new {@class="form-control"})
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align:center">
                            <input type="submit" class="btn btn-primary" />
                        </td>
                    </tr>
                   
                </table>
            }

